/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a:hover {
  color: #ff3399;
}

a.a-footer {
  color: #fff;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
a.a-footer:hover {
  color: #ff3399;
}

li.active a.a-menu-tags {
  color: #ff3399;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
li.active:hover a.a-menu-tags {
  color: #ff3399;
}
li a.a-menu-tags {
  color: #ccc;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}
li:hover a.a-menu-tags {
  color: #333;
}

a.a-recent {
  color: #fff;
}
a.a-recent:hover {
  color: #ff3399;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 14px;
  line-height: 1.5em;
  background: #fff;
  color: #222;
}
.container {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 71em;
  /*background: yellow;*/
}
.cut-word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Header
-------------------------------------------------- */
.header {
  background-color: #333333;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
}
.logo {
  display: block;
}
.logo img {
  width: 7em;
}


/* Navigation
-------------------------------------------------- */
.menu {
  display: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.2em;
}
.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: red;
  text-decoration: none;
}
.menu .active {
  color: red;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 600;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 40em) {
  .container {
    padding-left: 3em;
    padding-right: 3em;
  }
  .logo {
    float: left;
  }
  .menu {
    float: right;
    display: block;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/* Home-cover
-------------------------------------------------- */
.home-cover {
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size:cover;
}


.faculty-title {
  margin-top: 9em;
  width: 50%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
}
.faculty-title h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0;
}
.faculty-title h3 {
  font-size: 1.5em;
  line-height: 0.75;
  margin-top: 0;
}


.recent-upload-project {
  width: 35%;
  float: right;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.recent-upload-project .head {
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em 1em;
}
.recent-upload-project .head p {
  text-align: right;
  float: right;
}
.recent-upload-project .head p:first-child {
  float: left;
}
.recent-upload-project .project {
  padding: 0.85em 1em;
  border-top: 1px #000 solid;
  font-size: 1em;
  line-height: 1.35;
}
.recent-upload-project .project.first {
  border-top: 0px;
}



/* Menu-tags
-------------------------------------------------- */
.menu-tags {
  background-color: #e6e6e6;
}
.menu-tags-ui {
  list-style-type: none;
}
.menu-tags-ui li {
  float: left;
  width: 14.285%;
  height: auto; 
  cursor: pointer;
  background-color: #e6e6e6;
  color: #ccc;
  text-align: center;
  transition: background .3s;
}
.menu-tags-ui li.disable:hover {
  background-color: #e6e6e6 !important;
}
.menu-tags-ui li:hover {
  background-color: #cccccc;
}
.menu-tags-ui li.active {
  background-color: #cccccc;
}


.amount-page {
  font-size: 3.5em;
  line-height: 0;
  margin-top:  0.8em !important;
  margin-bottom: 0.65em !important;
}
.name-tag {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
}



/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: red;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: red;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  margin-top: 1em;
  list-style: none;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
  background-color: #e6e6e6;
}
.teaser li.first {
  margin-left: 0;
}
.teaser li .title {
  padding: 0.5em 1em;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1em;

}
.teaser li .text {
  padding: 1em;
  margin-bottom: 0;

  font-size: 1em;
  line-height: 1.35;
}
.teaser li .profile {
  padding: 0;
}
.teaser li .profile .img {
  width: 12%;
  border-radius: 50%;
  float: left;
  margin-left: 1em;  
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.teaser li .profile p {
  float: left;
  padding-top: 0.75em;
  margin-bottom: 0;
  font-size: 1em;

}
.teaser li .profile .share_btn {
  width: 56px;
  float: right;
  margin-right: 1em;
  margin-top: 1.1em;
  cursor: pointer;
}


@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 32%;
    margin-left: 2%;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  background-color: #333333;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #fff;
}
.footer .by {
  margin-bottom: 0.5em;
}

/* Work page
-------------------------------------------------- */
.work-page img {
  width: 80%;
  margin: 0 auto;
}
.work-title{
  font-weight: 900;
  margin: 3em auto 0.25em;
  display: table;
}
.work-by{
  width: 50%;
  margin: 0 auto 1em;
  display: table;
  text-align: center;
}
.work-content{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;

}
.content-text{
  text-indent: 3em;
}
.work-end {
  width: 56px;
  margin: 0 auto;
  padding-bottom: 2em;
}


/* Profile page
-------------------------------------------------- */
.profile {
  background-color: #e6e6e6;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #fff;
}
.profile-pic {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 5%;
}
.profile-pic img {
  border-radius: 50%;
}
.profile-text {
  width: 70%;
  float: left;
}
.profile-text .name {
  font-size: 1.5em;
}
